Bag Attributes
    1.3.6.1.4.1.311.17.2: <No Values>
    localKeyID: 01 00 00 00 
    friendlyName: CCDEV-DC2MSDCT10-CA
    Microsoft CSP Name: Microsoft Software Key Storage Provider
Key Attributes
    X509v3 Key Usage: 80 
-----BEGIN RSA PRIVATE KEY-----
MIIEoQIBAAKCAQEAoYYmXkj9PxISIVgX2zZGaNa1Im51aXwImkivUAVPoHVFIpp9
or6k6aZ90A9xiU4q4zpV68vOsIBdlJagw9OMISvID1YDnrgtPxZfhgZXXegpqzx3
PA6L0nnzDMK5/rkTuEPQHYMQixnbZXtFHatwmkWkANeuWZtrrgiEYCmr5UQ4890U
iQCXg6ar2mYV5tO5QId9zedKXiiML6drwGgYxPLBxfqjjWrBxFwZj3gmDpV7eogy
XQ31xIvFOMn9tDOt3zH6UfcrKL36ssSdv1Gz4F8xwqb4EOQ9K+zRnpvPy6J5zykq
/uRT08HBzKjWhLOX/cavXyfaWFrJOU/PRAJVhwIDAQABAoIBAEz7NR0Zl0zwbWCj
7hbFatA7iC+lSmMgQK9bdeZi6ZzVV0JTNA6U4t8SwQKg4aEpdoo+esW7KEJ5o2AW
W/+Ius/yYFJi0a3bJIFdReCH9Cqm4/kfA8rFOgFxqpNJ2UBb79iRxUXTedZ519Up
Z3rpAu0bxLq8EHXXe34BxClaovjMhIYbdIrlHv62MlTsFtOIGZzU0z7EnbZi3bqx
JPKAZjlEvuNgMa9MkNDD6/UzJrV7Rd0knpzt1gQqOAWCj9vI4BYaQLtNoMY6Muvf
JDBn2pIB+4wfqd8L/yRhPaBA08mD2NAr2N+b1DB0PSJXRz/X8MlpZUS0Gh6Adq+b
5dRxjt0CgYEA4se6ztLgh8HxCt2kmTdIMdQrIu0wKQ12db43/2cjstCobQlOBY6t
YZ8xQFmFh2LeAWmUcorId2c6mcsDiWdxw1UHy9ANmkSEwSOwNHmA8mkJiFYcyQjW
49BthYn1VC11vlhy4uRDBD5eEEQODN8Bik8fdC9COPL9jj0JFkbSiQMCgYEAtlX3
feFaorjA84ymkr+gVm6OzRfiWzl4sZs/nlj8VR9MqVgQFHxTdPXh4IhtjaeXEy+Q
iKlVIMgmnkUr1R8Hm74vv4c3ZB4ZqzR4wl4e2zHaHz/vYGDUM0/yI/HQNnszdnC+
dgGmpOG8gmntb6IJ3GV7O7X5MA5J24NThGVqwC0CgYEAtfR4/08VVfeXFhfF5CUF
6O0J+0kBtj6WCFyqA2NWsjdWm722eyECHeyjkLUDPSBnbgyvTcPqmlsaGqFX4hw8
m/QSgEYbU+ab+XdP/ppqipUaT+h/yhEskbb+2QFa9MJQ0XuYGlH5L2N3B2gDOfKI
Atf/LbJpWNYl+MUiEFycuc8CfwcfVIuWQfQZQ3BADkGtOpYlu25HgJAPrqdBaTrG
PxUUI+p5hidGs/vdnvUmXyEpar1VHlA4TRr6tod4LD4m+CUdSMAyh/dhNZ96bT0q
cAof6GVQGgmpvqBCfzLoPznhliEKRmZVqizGpJZzjNLPgZMaY7XxZcp6xGfOuXRy
gbkCgYBGnbzlxhHUjMoWp0HyjtAvUkrn188m6UUHUwu6pkrFVoGmOXTp/LrrD3rF
hQcUsjhjuWdIWtq95xLtLuTglcrWvJL+kL6v8jF33OmG9x2o5pRRUCIwz6ivyvKa
wlnj/fQFs5CgsPJqQGF72h17rzJ47jlO2EDb5L6rG22RuJKlQw==
-----END RSA PRIVATE KEY-----
Bag Attributes
    localKeyID: 01 00 00 00 
    1.3.6.1.4.1.311.17.3.20: A0 CD 7F 09 28 CB 75 08 7E D3 F9 28 3D AD 3C B3 F8 EE 19 9C 
subject=/DC=NET/DC=CLUBCORP/DC=CCDEV/CN=CCDEV-DC2MSDCT10-CA
issuer=/DC=NET/DC=CLUBCORP/DC=CCDEV/CN=CCDEV-DC2MSDCT10-CA
-----BEGIN CERTIFICATE-----
MIIDuzCCAqOgAwIBAgIQU8jhnauWw5hAyGoowWFLPTANBgkqhkiG9w0BAQUFADBk
MRMwEQYKCZImiZPyLGQBGRYDTkVUMRgwFgYKCZImiZPyLGQBGRYIQ0xVQkNPUlAx
FTATBgoJkiaJk/IsZAEZFgVDQ0RFVjEcMBoGA1UEAxMTQ0NERVYtREMyTVNEQ1Qx
MC1DQTAeFw0xNTA2MjkxNTExMzhaFw0yNTA2MjkxNTIxMzhaMGQxEzARBgoJkiaJ
k/IsZAEZFgNORVQxGDAWBgoJkiaJk/IsZAEZFghDTFVCQ09SUDEVMBMGCgmSJomT
8ixkARkWBUNDREVWMRwwGgYDVQQDExNDQ0RFVi1EQzJNU0RDVDEwLUNBMIIBIjAN
BgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAoYYmXkj9PxISIVgX2zZGaNa1Im51
aXwImkivUAVPoHVFIpp9or6k6aZ90A9xiU4q4zpV68vOsIBdlJagw9OMISvID1YD
nrgtPxZfhgZXXegpqzx3PA6L0nnzDMK5/rkTuEPQHYMQixnbZXtFHatwmkWkANeu
WZtrrgiEYCmr5UQ4890UiQCXg6ar2mYV5tO5QId9zedKXiiML6drwGgYxPLBxfqj
jWrBxFwZj3gmDpV7eogyXQ31xIvFOMn9tDOt3zH6UfcrKL36ssSdv1Gz4F8xwqb4
EOQ9K+zRnpvPy6J5zykq/uRT08HBzKjWhLOX/cavXyfaWFrJOU/PRAJVhwIDAQAB
o2kwZzATBgkrBgEEAYI3FAIEBh4EAEMAQTAOBgNVHQ8BAf8EBAMCAYYwDwYDVR0T
AQH/BAUwAwEB/zAdBgNVHQ4EFgQUoM1/CSjLdQh+0/koPa08s/juGZwwEAYJKwYB
BAGCNxUBBAMCAQAwDQYJKoZIhvcNAQEFBQADggEBAAf5PJHi5RrR7rysNFtDJ8u6
5Aiky0Bf/A8MyLL4j0/nXk0h+0KLQJEnIT8oc73CYUquAR5HLJ4/HtfJKG3L48n1
JswMIwZK0ab3GA2Ptoo6qASXeXti34HE3MG2FfrWUqXp96n2/guybHrDwIZvlBy+
io2UecesJ9LiJZ/hf4OEjohuGfjyvAYJnDmhBIRLlLXvZEdA48so9qIw2rMN5U64
aslFMzKMLrqPe58940wScnFD2bLCbln7C7N480pSJE+EYz0ev83dWHRX8ypOVRSo
H5ObC+1I8MaVLAzeDLRDWYNMsd9/AqMVYDqaNnnkV/bBLTzGRi635VQEFE25kPs=
-----END CERTIFICATE-----
